#!/bin/bash
# if you have direnv installed you can use `cargo FOO` to run the build scripts
# you should have load_dotenv enabled in your .envrc config
# https://direnv.net/man/direnv.toml.1.html#codeloaddotenvcode
export PATH="$PATH:$PWD/scripts"
export PATH="$PATH:$PWD/.bin"
. .env
if [[ -e .env.local ]]; then
  . .env.local
fi

. .venv/bin/activate
