#!/bin/bash
# if you have direnv installed you can use `cargo FOO` to run the build scripts
# you should have load_dotenv enabled in your .envrc config
# https://direnv.net/man/direnv.toml.1.html#codeloaddotenvcode

export RUST_ANALYZER_TARGET_DIR="target/rust-analyzer"
export PATH="$PATH:$PWD/.bin"

if [[ -e .local/.env.local ]]; then
  . .local/.env.local
fi
if [[ -e .env.local ]]; then
  . .env.local
fi
if [[ -n $WSL_DISTRO_NAME ]]; then
    . .env.wsl
fi
if [[ -e .venv/bin/activate ]]; then
    . .venv/bin/activate
else
    echo "WARNING: Not set up! Run 'just setup'"
fi
