#!/bin/bash
# if you have direnv installed you can use `cargo FOO` to run the build scripts
# you should have load_dotenv enabled in your .envrc config
# https://direnv.net/man/direnv.toml.1.html#codeloaddotenvcode

. .env

if [[ -e .local/.env.local ]]; then
  . .local/.env.local
fi
if [[ -e .env.local ]]; then
  . .env.local
fi

. .venv/bin/activate

export RUST_ANALYZER_TARGET_DIR = "target/rust-analyzer"
