experimental_monorepo_root = true

[monorepo]
config_roots = [
    "crates/template/.config"
]

[env]
_.source = ".config/env.sh"

[tools]
"cargo:cargo-binstall" = "latest"
"mold" = "latest"
sccache="latest"

[tools.rust]
# keep in sync with bevy_cli
version = "nightly-2026-01-22"
components = "rustc-codegen-cranelift-preview,rustc-dev,llvm-tools-preview,clippy"
targets = "x86_64-pc-windows-msvc,x86_64-unknown-linux-gnu"

[tasks.install_bevy_lint]
hide = true
run = """
rustup run nightly-2026-01-22 cargo install \
    --git https://github.com/TheBevyFlock/bevy_cli.git \
    --tag lint-v0.6.0 \
    --locked \
    bevy_lint || true
"""


## CHECKS #####################################################################

[tasks."check:deps"]
alias = "deny"
tools = { "cargo:cargo-deny" = "latest" }
description = "Check dependencies with cargo-deny"
run = """
cargo deny --workspace \
    -L error \
    check advisories bans sources \
    --hide-inclusion-graph
"""

[tasks.bevy_lint]
hide = true
depends = ["install_bevy_lint"]
usage = """
    arg "<pkg>" var=#true default=""
    flag "--fix"
"""
run = """
#!/bin/bash
RUSTC_WRAPPER=""
if [[ $usage_pkg != "''" ]]; then PKG="-p $usage_pkg"; fi
bevy_lint --all-features --target-dir=target/bevy_lint $FIX
"""

[tasks.clippy]
hide = true
usage = """
    flag "-p <pkg>" var=#true
    flag "--fix"
"""
run = """
FIX=${usage_fix:+--fix}
if [[ $usage_pkg != "''" ]]; then PKG="-p $usage_pkg"; fi
cargo --color=always clippy --all-features --target-dir=target/clippy $FIX $PKG
"""

[tasks.check]
description = "Lint package(s) with Clippy and bevy_lint."
usage = """
    arg "<pkg>" var=#true default=""
"""
raw = true
run = """
mise clippy -p ${usage_pkg} ::: bevy_lint -p ${usage_pkg}
"""


## FIXES ######################################################################

[tasks."fix:rust"]
alias = "fix-rust"
description = "Fix any fixable issues in rust. Includes formatting."
depends = ["check --fix"]

[tasks.fix]
description = "Fix all fixable issues."
depends = ["fix:rust"]

## BUILD AND DEPLOY ###########################################################

[tasks.ci]
tools = { "act" = "latest" }
description = "Test CI locally with nektos/act"
run = """
docker run \
  --name artifact-server \
  -d -p 8080:8080 \
  --add-host artifacts.docker.internal:host-gateway \
  -e AUTH_KEY=foo \
  ghcr.io/jefuller/artifact-server:latest || true &&

act -P ubuntu-24.04=ghcr.io/catthehacker/ubuntu:act-24.04 \
    --env ACTIONS_RUNTIME_URL=http://artifacts.docker.internal:8080/ \
    --env ACTIONS_RUNTIME_TOKEN=foo \
    --env ACTIONS_CACHE_URL=http://artifacts.docker.internal:8080/ \
    --artifact-server-path ../artifacts \
    --env RUSTC_WRAPPER=""\
"""

[tasks.test]
tools = { "cargo:cargo-nextest" = "latest" }
description = "Run tests for a specific package or all packages"
usage = """
    arg "[rest]" default="r --workspace" help="Passed directly to `cargo nextest`"
"""
run = """
cargo nextest ${usage_rest}
"""

[tasks.coverage]
tools = { "cargo:cargo-llvm-cov" = "latest", "cargo:cargo-nextest" = "latest" }
description = "Get test coverage report."
usage = """
    arg "[rest]" default="--html --open"
"""
run = """
RUSTFLAGS=-Zcodegen-backend=llvm cargo llvm-cov nextest --html --open
"""

# LOCAL #######################################################################

[tasks.build]
description = "Cargo build."
tools = { "sccache" = "latest" }
usage = """
    arg "[args]" help="Args passed to cargo build. Run `cargo build --help` for more info." var=#true
"""
run = """
cargo build ${usage_args}
"""

[tasks.play]
description = "Cargo run."
tools = { "sccache" = "latest" }
usage = """
    arg "[args]" help="Args passed to cargo run. Run `cargo run --help` for more info." var=#true
"""
run = """
cargo run ${usage_args}
"""
