(
  resources: {},
  entities: {
    4294967305: (
      components: {
        "bevy_ecs::hierarchy::Children": ([
          4294967311,
          4294967315,
        ]),
        "bevy_ecs::name::Name": "Scene Root",
        "bevy_render::view::visibility::InheritedVisibility": (true),
        "bevy_render::view::visibility::ViewVisibility": (false),
        "bevy_render::view::visibility::Visibility": Inherited,
        "bevy_scene::components::DynamicSceneRoot": (Weak(Uuid(
          uuid: "97128bb1-2588-480b-bdc6-87b4adbec477",
        ))),
        "bevy_transform::components::global_transform::GlobalTransform": ((1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0)),
        "bevy_transform::components::transform::Transform": (
          translation: (0.0, 0.0, 0.0),
          rotation: (0.0, 0.0, 0.0, 1.0),
          scale: (1.0, 1.0, 1.0),
        ),
        "bevy_transform::components::transform::TransformTreeChanged": (),
      },
    ),
    4294967311: (
      components: {
        "bevy_ecs::hierarchy::ChildOf": (4294967305),
        "bevy_ecs::hierarchy::Children": ([
          4294967312,
          4294967314,
        ]),
        "bevy_ecs::name::Name": "New Entity",
      },
    ),
    4294967312: (
      components: {
        "bevy_ecs::hierarchy::ChildOf": (4294967311),
        "bevy_ecs::hierarchy::Children": ([
          4294967313,
        ]),
        "bevy_ecs::name::Name": "New Entity",
      },
    ),
    4294967313: (
      components: {
        "bevy_ecs::hierarchy::ChildOf": (4294967312),
        "bevy_ecs::name::Name": "New Entity",
      },
    ),
    4294967314: (
      components: {
        "bevy_ecs::hierarchy::ChildOf": (4294967311),
        "bevy_ecs::name::Name": "New Entity",
      },
    ),
    4294967315: (
      components: {
        "bevy_ecs::hierarchy::ChildOf": (4294967305),
        "bevy_ecs::name::Name": "New Entity",
      },
    ),
  },
)